@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@600&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8% 5% 0.8% 5%;
  width: 90%;
  -webkit-box-shadow: 0px 4px 8px #f1f3f9;
          box-shadow: 0px 4px 8px #f1f3f9;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8% 5% 0.8% 5%;
  width: 90%;
  -webkit-box-shadow: 0px 4px 8px #f1f3f9;
          box-shadow: 0px 4px 8px #f1f3f9;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navlinks {
  margin-top: 10px;
}

.navlinks a {
  font-family: "Poppins", sans-serif;
  color: #111111;
  padding-right: 25px;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navlinks a:hover {
  color: #5AC3FF;
  -webkit-transition: all .5s;
  transition: all .5s;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

.border {
  border-left: 2px solid black;
  position: absolute;
  top: 0%;
  bottom: 70%;
  left: 0%;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #111111;
  font-size: 50px;
  margin: 20px 0px 20px 0px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  padding-bottom: 0.5em;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding-bottom: 0.5em;
}

.h3ontop {
  margin-bottom: -45px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 2.5em;
  color: #111111;
}

span {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  margin-top: 10px;
}

.highlight {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 28px;
}

strong {
  font-weight: 700;
}

.ecocolor {
  color: #62CE82 !important;
}

.vrcolor {
  color: #5AC3FF;
}

.inspocolor {
  color: #4DBBC4;
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.large_container {
  margin: auto;
  margin-top: 50px;
  padding: 5% 25% 5% 25%;
}

.project_container {
  padding: 0% 0% 0% 0%;
  margin: 70px 0px 70px 0px;
}

.textcontent_holder {
  padding: 77px 0px 77px 0px;
}

.paragraph_holder {
  padding: 3em 0px 3em 0px;
}

.paragraph_holder p {
  padding-left: 30px;
  border-left: 1px solid #111111;
}

.introme {
  max-width: 30%;
  text-align: left;
}

.banner {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.bannertwo {
  background-color: #363636;
  width: 90%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bannertwo .dotntext {
  padding: 8%;
  max-width: 800px;
}

.bannertwo h1 {
  color: #FFFFFF;
}

.caseimage {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.caseimage_withtext {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.frontpage {
  height: 100%;
}

.mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro {
  padding: 0 0% 0% 0%;
  width: 300px;
}

.aboutme {
  float: right;
}

.mainproject_holder {
  margin-top: 150px;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainproject_holder .mainprojecttext_holder {
  padding: 5% 0% 5% 0%;
  max-width: 400px;
}

.problemstate_name {
  max-width: 400px;
}

.problemstate {
  max-width: 600px;
}

/************************ CARD CONTAINER *********************************/
.cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin-top: 0px;
  margin-bottom: 50px;
}

.card {
  -webkit-box-shadow: 0px 10px 29px #f1f3f9;
  box-shadow: 0px 10px 29px #f1f3f9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 20%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px;
  margin-top: 50px;
  margin: 20px 10px 20px 10px;
}

.iconcard {
  width: 40px;
  height: 40px;
  background-repeat: none;
  margin: auto;
  padding: 0px 0 40px 0;
  -ms-grid-column-align: center;
      justify-self: center;
}

.iconcardrank {
  width: 80px;
  height: 80px;
  background-repeat: none;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0 0px 0;
  justify-self: center;
}

.personality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0px;
}

.tagholds {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.tags {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #AFAFAF;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  background-color: #F8F8F8;
  margin-right: 10px;
  margin-top: 10px;
}

.space {
  height: 100px;
  width: 100%;
}

.socialmedia a img {
  -webkit-transition: all .2s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  transition: all .2s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 15px;
}

.socialmedia a img:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.dots {
  background-image: url("images/dots.svg");
  width: auto;
  height: 7px;
  background-repeat: no-repeat;
  background-size: contain;
}

.socialmedia {
  padding-top: 20px;
}

.socialmedia a {
  padding-right: 10px;
}

.minitab {
  padding: 20px;
  border-radius: 25px;
  margin-top: 70px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 29px #f1f3f9;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 29px #f1f3f9;
  box-shadow: 0px 10px 29px #f1f3f9;
}

.miniminitab {
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 10px 29px #f1f3f9;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 29px #f1f3f9;
  box-shadow: 0px 10px 29px #f1f3f9;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.miniminitab:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.minitab_holder {
  padding: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.minitab_text {
  margin: 5%;
  max-width: 400px;
}

.minitab_text p {
  margin-bottom: 20px;
}

.imagentext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.miniimage {
  width: 200px;
  height: 200px;
  justify-self: flex-start;
  margin: 10% 0% 10% 0;
}

.project_image {
  width: 40%;
  height: 40%;
  margin: 5%;
  margin-top: 8%;
  background-size: contain;
  background-repeat: no-repeat;
}

.projectstate {
  padding: 2%;
}

.projectstate p {
  font-size: 20px;
  line-height: 1.8em;
}

.miniminitab_holder {
  max-width: 300px;
  padding: 15px;
  height: auto;
  font-size: 14px !important;
}

.miniminitab_holder h2 {
  font-size: 20px;
}

.miniminitab_holder p {
  font-size: 14px;
}

.miniminitab_vrholder {
  max-width: 400px;
  padding: 15px;
  height: auto;
  font-size: 14px !important;
}

.miniminitab_vrholder h2 {
  font-size: 20px;
}

.miniminitab_vrholder p {
  font-size: 14px;
}

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 0px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 1px solid #111111;
  border-bottom: 1px solid #111111;
  margin: 0 0 2px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
          animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #111111;
  top: 170px;
}

.wheel {
  height: 2px;
  width: 1px;
  display: block;
  margin: 5px auto;
  background: #111111;
  position: relative;
  height: 5px;
  width: 1px;
  border: 2px solid #111111;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1440px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
  .large_container {
    margin: auto;
    margin-top: 50px;
    padding: 5% 20% 5% 20%;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-family: 16px;
  }
  p {
    font-family: 14px;
    line-height: 1.7em;
  }
  .personatext {
    margin: auto;
  }
  .mainproject_holder {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .miniminitab_holder {
    max-width: 130px;
    padding: 15px;
    height: auto;
  }
  .miniminitab_holder h2 {
    font-size: 16px;
  }
  .miniminitab_holder p {
    font-size: 11px;
  }
  .socialmedia a img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-right: 0px;
  }
  .problemstate_name {
    max-width: 350px;
  }
  .problemstate {
    max-width: 350px;
  }
  .large_container {
    margin: auto;
    margin-top: 50px;
    padding: 5% 5% 5% 5%;
  }
  .small {
    width: 300px;
  }
  .imagentext {
    margin: 10% 10% 10% 10%;
  }
  .mainabout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .introme {
    max-width: 50%;
  }
  .intro {
    width: 250px;
  }
}

@media only screen and (max-width: 640px) {
  nav {
    padding: 2% 5% 2% 5%;
  }
  footer {
    padding: 2% 5% 2% 5%;
  }
  .navlinks {
    margin-top: 10px;
  }
  .navlinks a {
    font-family: "Poppins", sans-serif;
    color: #111111;
    padding-right: 25px;
    text-decoration: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .navlinks a:hover {
    color: #5AC3FF;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .personality {
    display: block;
    margin-top: 50px;
  }
  h1, h2, p {
    padding: 0;
    margin: 0;
  }
  .border {
    border-left: 2px solid black;
    position: absolute;
    top: 0%;
    bottom: 70%;
    left: 0%;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    color: #111111;
    font-size: 28px;
    margin: 20px 0px 20px 0px;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    padding-bottom: 0.5em;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  .h3ontop {
    margin-bottom: -35px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #111111;
  }
  .highlight {
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 28px;
  }
  .ecocolor {
    color: #62CE82 !important;
  }
  .vrcolor {
    color: #5AC3FF;
  }
  .wrapper {
    padding-left: 10%;
    padding-right: 10%;
    overflow-x: hidden;
  }
  .website_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    width: 100%;
  }
  .large_container {
    margin-top: 0px;
    margin: auto;
    margin-top: 50px;
    padding: 0;
  }
  .project_container {
    padding: 0% 0% 0% 0%;
    margin: 70px 0px 70px 0px;
  }
  .mainpage {
    display: block;
  }
  .mainabout {
    display: block;
  }
  .textcontent_holder {
    padding: 40px 0px 40px 0px;
  }
  .paragraph_holder {
    padding: 20px 0px 20px 0px;
  }
  .paragraph_holder p {
    padding-left: 15px;
  }
  .mainproject_holder {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .intro {
    padding: 0;
  }
  .introme {
    max-width: 100%;
    text-align: center;
  }
  .introme .tagholds {
    padding: 0% 15% 0% 15%;
  }
  .mainproject_holder {
    display: block;
  }
  .mainproject_holder .mainprojecttext_holder {
    max-width: 300px;
  }
  .tags {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #AFAFAF;
    float: left;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 7px 10px 7px 10px;
    border-radius: 8px;
    background-color: #F8F8F8;
    margin-right: 10px;
    margin-top: 10px;
  }
  .space {
    height: 70px;
    width: 100%;
  }
  .socialmedia a img {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .2s;
    transition: all .2s;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: -5px;
  }
  .socialmedia a img:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .dots {
    background-image: url("images/dots.svg");
    width: auto;
    height: 7px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .socialmedia {
    padding-top: 20px;
  }
  .socialmedia a {
    padding-right: 10px;
  }
  .caseimage {
    margin: auto;
    margin-top: 20px;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  .caseimage_withtext {
    margin-bottom: 0px;
  }
  /************************** CARD CONTAINER **********************/
  .cardcontainer {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .card {
    -webkit-box-shadow: 0px 10px 29px #f1f3f9;
    box-shadow: 0px 10px 29px #f1f3f9;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    margin-top: 20px;
  }
  .iconcard {
    width: 80px;
    height: 80px;
    background-repeat: none;
    margin: auto;
    padding: 0px 0 40px 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .containericon {
    padding: 2px 16px;
  }
  .bannertwo {
    display: block;
    height: auto;
  }
  .miniminitab_holder {
    max-width: 200px;
    padding: 15px;
    height: auto;
  }
  .miniminitab_holder h2 {
    font-size: 20px;
  }
  .miniminitab_holder p {
    font-size: 14px;
  }
  .minitab_holder {
    display: block;
  }
  .minitab_text {
    margin: 0%;
  }
  .project_image {
    width: 100%;
    margin: 0%;
    height: auto;
    padding: 30px 0px 30px 0px;
    background-size: contain;
  }
  .imagentext {
    display: block;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .projectstate {
    padding: 2%;
  }
  .projectstate p {
    font-size: 16px;
    line-height: 1.8em;
  }
}

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 0px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 1px solid #111111;
  border-bottom: 1px solid #111111;
  margin: 0 0 2px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
          animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #111111;
  top: 170px;
}

.wheel {
  height: 2px;
  width: 1px;
  display: block;
  margin: 5px auto;
  background: #111111;
  position: relative;
  height: 5px;
  width: 1px;
  border: 2px solid #111111;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */