body {
    margin:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: white;
}


.ham {
  display:none;
}
/*~~~~~~~~~~~~~~~~~~~~~~ GRID ~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-auto-rows: 20vh; */
  grid-template-rows: 1fr;
}

.wrapper2 {
  background-color: white;
}

.projectcon h3 {
    color:#0C327F;
}


.nav {
  background-color:rgba(255, 255, 255, 0.3);
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  position: fixed;

  width: 100%;

}

.box2 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;

  /* border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px;
  color: #d9480f; */
}

/* ~~~~~~~~~~~~~~ TABLET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

   @media only screen and (min-width: 680px) and (max-width: 1000px) {

     .menu {
       display:none;
     }


     .ham {
       display:block;
       z-index:4;
     }
     .wrapper2 {
         height: 1900px;

     }
     .boxA {
       margin-top: 100px;
       grid-column-start: 2;
       grid-column-end: 4;
       grid-row-start: 1;
       grid-row-end: auto;

       display: grid;
       grid-template-columns:  1fr 1fr;

       grid-gap: 50px;
       background-color: white;

     }

     .inner {
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 1;
       grid-row-end: 2;
     }

     .innerright {
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 3;
       grid-row-end: 4;
       margin-top: -350px;
     }

     .projectcon {
       margin-bottom: -50px;
     }

     .projects {
       padding-left: 10%;
       padding-right: 10%;
       margin-top:0;

       width: 80%;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 25px;
        box-shadow:  4px 6px 6px rgba(255, 255, 255, 0.15);

     }




   }



/*~~~~~~~~ PHONE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 680px) {


  .box3 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;


}

.highlight {
  font-family:font-family: museo-sans-rounded, sans-serif;
  font-weight: 700;
  height: 180px;
  width: 100%;
}

  .homecurve {

      position: absolute;

      width: 100vw;
      height: 95vh;
      background-image: url("homecurve.svg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index:-1


  }

  .homecurve2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60vh;
    background-image: url("homecurve2.svg");
    background-repeat: repeat-y;
    background-size: cover;
    z-index:-2
  }

.box3 p {
  display: none;
}


.wrapper2 {
    height: 1900px;

}
.boxA {
  margin-top: 100px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: auto;

  display: grid;
  grid-template-columns:  1fr 1fr;

  grid-gap: 50px;
  background-color: white;

}

.inner {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.innerright {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: -350px;
}

.projectcon {
  margin-bottom: -50px;
}

.projects {
  margin-top:0;
  margin-left: 0px;
  width: 100%;
   height: 200px;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 25px;
   box-shadow:  4px 6px 6px rgba(255, 255, 255, 0.15);

}

.ham {
  display:block;
}

.sidebarMenuInner h4 {
  color:white;
font-family: museo-sans-rounded, sans-serif;
font-size: 15px;

}

li {
  float: none;
}

.sidebarMenuInner h4:hover {
  color:#0C327F;

}

}
